body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    margin: 0;
    background-color: rgb(243, 243, 173);
}

#board {
    /* background-color: skyblue; */
    background-image: url("./flappybirdbg.png");
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 2);
}
#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #cc0000;
}

#startButton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background: rgb(98, 146, 25);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 200, 255, 0.5);
    transition: 0.3s ease;
}

#startButton:hover {
    background: green;
}
