body {
    background: url("./background.jpg") no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

#board {
    width: 450px;
    height: 450px;
    background-color: lightblue;
    border: 5px solid slategray;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 50px;
    height: 50px;
}

/* Styling for Buttons */
.button-container {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    opacity: 0.8;
}

button:first-child {
    background-color: green;
    color: white;
}

button:last-child {
    background-color: red;
    color: white;
}

#backButton {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#backButton:hover {
    background-color: #cc0000;
}
